#projectsContainer {
  height: 300vh;
  /* background-color: rgb(241, 255, 255); */
  justify-content: center;
}

.projectsProjectsContainer {
  display: grid;
  justify-content: center;
  gap: 100px;
}

.projectsProject {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 950px;
  gap: 20px;
}

.projectDescription {
  text-align: left;
}

.projectDescription h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.projectDescription h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(96, 96, 96);
  -webkit-text-stroke: 1px rgba(201, 200, 200, 0.407);
}

.projectTool {
  margin: 15px 0 35px;
  color: white;
  padding: 5px 10px;
  background-color: black;
  border-radius: 5px;
  width: min-content;
  cursor: pointer;
}

.projectTool:hover {
  transition: 300ms;
  transform: scale(1.02);
}

.projectTool p {
  margin: 0;
}

.projectsSnippet {
  width: 400px;
  height: 250px;
  border-radius: 8px;
}

.targetGym {
  background-color: orangered;
}

.klapTools {
  background-color: blue;
}
