#skillsContainer {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 50% 90%, 0 100%);
  padding: 80px 0 160px 0;
  margin-top: -20vh;
  background-size: cover;
  background-position: 100% center;
  background-color: #57886c;
  /* color: #e5e7e6; */
}

.skillsShadow {
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

.skillsTitlePicture {
  margin: 0 10px auto auto;
}

.skillsTitlePicture h1 {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.skillsTitlePicture img {
  width: 200px;
  background-color: brown;
  border-radius: 10px;
  border: solid 2px rgb(44, 0, 72);
}

.skillsListDescription {
  margin: 50px auto auto 45px;
  max-width: 600px;
  border-radius: 10px;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-left: -20px;
}

.skillsList div p {
  margin: 0;
  font-weight: 600;
}

.skillsList .skillsIcon {
  color: black;
  transition: 200ms;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.skillsList .skillsIcon:hover {
  color: rgb(255, 113, 91);
}

.skillsDescription {
  text-align: left;
  margin-top: 65px;
}
