#contactContainer {
  background-color: white;
}

#contactContainer h1 {
  font-size: 3rem;
}

.contactInformationContainer {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 450px;
  text-align: left;
}

.contanctAnimation {
  display: grid;
  grid-template-columns: 1fr;
  text-align: end;
  /* background-color: black; */
}

.contactProyector {
  /* background-color: aquamarine; */
}

.contanctAnimation img {
  width: 125px;
  height: 125px;
}
