#bannerContainer {
  display: flex;
  height: 100vh;
  color: white;

  background-image: linear-gradient(
    35deg,
    rgb(0, 0, 0) 5%,
    hsl(261deg 80% 11%) 30%,
    hsl(257deg 72% 13%) 40%,
    hsl(257deg 72% 16%) 50%,
    hsl(258deg 73% 18%) 52%,
    hsl(260deg 75% 20%) 55%,
    hsl(262deg 77% 22%) 63%,
    hsl(263deg 80% 24%) 65%,
    hsl(265deg 84% 26%) 66%,
    hsl(267deg 88% 27%) 68%,
    hsl(269deg 93% 29%) 69%,
    hsl(271deg 100% 30%) 80%
  );
}

.bannerContent {
  margin: 33vh auto auto 10vw;
  text-align: left;
}

.bannerContent .bannerTitle h1 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.bannerMovment {
  position: absolute;
  width: 80px;
  height: 80px;
  transition: 1.5s ease-out;
  animation: pulsation 16s infinite, movment 11s infinite;
  filter: blur(1);
  filter: drop-shadow(0px 0px 5px rgb(188, 111, 146));
}

.bannerMovment div {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: rgb(197, 162, 86);
  width: 70px;
  height: 70px;
}

@keyframes pulsation {
  from {
    opacity: 0.15;
  }
  50% {
    opacity: 0.05;
    transform: scale(1.2);
  }
  to {
    opacity: 0.15;
  }
}

@keyframes movment {
  from {
    translate: 0;
  }
  50% {
    translate: -10px -20px;
  }
  to {
    translate: 0 0;
  }
}

.particle2 {
  animation: pulsation 12s infinite, movment 7s infinite !important;
}

.bannerMediaLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5vh;
  right: 20px;
}

.bannerIcon {
  width: 60px;
  height: 60px;
  margin: 17px 10px;
  cursor: pointer;
  color: rgb(175, 175, 175);
  transition: 200ms;
}

.bannerMediaLinks a:hover .bannerIcon {
  color: rgb(255, 113, 91);
}

.bannerMediaLinks a p {
  color: white;
  text-align: center;
  margin: 0;
  translate: 0 30px;
  opacity: 0;
  transition: 300ms;
}

.bannerMediaLinks a:hover p {
  translate: 0 10px;
  opacity: 1;
}

.bannerAbout button {
  border: none;
  background-image: linear-gradient(90deg, rgb(252, 76, 49), rgb(255, 176, 91));
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 30px;
  transition: 400ms;
  transform: scale(1.05);
  cursor: pointer;
  margin: 30px 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.bannerAbout button:hover {
  transform: scale(1);
  translate: 0;
  box-shadow: 0 0 10px 0 rgba(253, 149, 107, 0.3);
}
